.skills-section .skill-type-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.t-p-skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  overflow-y: hidden;
  background-image: url("../../images/skills/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
}

@media only screen and (max-width: 1000px) {
  .t-p-skill-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .skills-container {
    overflow-y: hidden;
  }
}
