.footer-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

.logo-image {
  height: 2rem;
}
