.bg-image {
  filter: brightness(70%);
  position: relative;
}

.flex-coloumn-container {
  /* background: url("../../../images/hanonSystems/automotive.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.duties-list {
  margin: auto 3rem;
  min-width: 20rem;
  width: 40vw;
  max-width: 50rem;
}

.hanon-image {
  width: 20rem;
  max-width: 90vw;
  border-radius: 10%;
}

.title-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 4rem;
}
